.main-container{
    background-color: rgb(233, 110, 188);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    color: white;
    text-align: center ;
}
.sub-container{
    width:600px;
}
.heading{
    font-size: 4rem;
.starBtn{
    padding: 10px 10px;
    font-size: 20px;
    border-radius: 5px;
}
}
.tagline{
    font-size: 1.5rem;

}
